body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: #222;
}
header{
    background: linear-gradient(135deg,#0d6efd, #0a58ca);
    color: #fff;
    padding: 50px 10px;
    text-align: center;
}
header h1{
    font-size: 2.5rem;
    margin-bottom: 10px;
}
header p{
    font-size: 1.2rem;
    max-width: 700px;
    margin: auto;
}
section{
    padding: 60px 20px;
    max-width: 1100px;
    margin: auto;
}
h2{
    text-align: center;
    margin-bottom: 40px;
    font-size: 2rem;
}
.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.card{
    border: 1px solid #ddd;
    padding: 25px;
    border-radius: 8px;
}
.card h3{
    margin-top: 0;
    color: #0d6efd;
}
.cta {
    background: #f8f9fa;
    text-align: center;
    padding: 70px 20px;
}
.cta h2{
    margin-bottom: 20px;
}
.cta a{
    display: inline-block;
    background: #116ffc;
    color: #fff;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 1.1rem;
    border-radius: 6px;  
}
.cta img{
    width: 20%;
    border-radius: 10%;
}
.cintillo{
    width: 100%;
    height: auto;
}
footer{
    background: #111;
    color: #ccc;
    text-align: center;
    padding: 30px 20px;
}