body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: #222;
}
header{
    background: linear-gradient(135deg,#0d6efd, #0a58ca);
    color: #fff;
    padding: 10% 2%;
    text-align: center;
}
header h1{
    font-size: 2.5rem;
    margin-bottom: 2%;
}
header p{
    font-size: 1.2rem;
    max-width: 100%;
    margin: auto;
}
section{
    padding: 20% 5%;
    max-width: 1100px;
    margin: auto;
}
h2{
    text-align: center;
    margin-bottom: 4%;
    font-size: 2rem;
}
.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
}
.card{
    border: 0.5% solid #ddd;
    padding: 2%;
    border-radius: 1%;
}
.card h3{
    margin-top: 0;
    color: #0d6efd;
}
.cta {
    background: #f8f9fa;
    text-align: center;
    padding: 50% 10%;
}
.cta h2{
    margin-bottom: 10%;
}
.cta a{
    display: inline-block;
    background: #116ffc;
    color: #fff;
    padding: 2% 5%;
    text-decoration: none;
    font-size: 1.1rem;
    border-radius: 0.5rem;  
}
.cta img{
    width: 20%;
    border-radius: 10%;
}
.cintillo{
    width: 100%;
    height: auto;
}
footer{
    background: #111;
    color: #ccc;
    text-align: center;
    padding: 5% 2%;
}